<div class="modal-header">
  <h3 class="modal-title">Confirmer</h3>
</div>
<div class="modal-body">
      <button class="btn1" ng-click="confirm()">Confirmer</button><br>
      <button class="btn1" ng-click="cancel()">Annuler</button><br>
  </div>
  </div>