<div class="modal-header">
	<h3 class="modal-title">Devenir partenaire</h3>
</div>
<div class="modal-body">
<p>Bonjour,</p>

<p>Si vous êtes créateur/créatrice d'articles en crochet et vous souhaitez vendre vos produits sur le territoire tunisien et bientôt dans le monde entier, venez essayer notre plateforme la Maison du Crochet, et tout simplement en nous envoyant un email sur <span style="font-weight: bold;">lamaisonducrochet@gmail.com</span> ou en contactant notre service clientèle sur le <span style="font-weight: bold;">
20 011 994 </span><i class="fa fa-mobile"></i>.</p>
 <p>Nous serons ravis de travailler avec vous.</p>
</div>
	<div class="modal-footer">
		la Maison du Crochet
	</div>