<div class="conditions-container" style="margin-top:50px;">
<h1>Conditions générales</h1>

<p>Nous vous prions de lire les conditions générales avec une
attention particulière car l’utilisation du site de vente La Maison du Crochet
suppose leur acceptation entière et sans réserve.</p>

<p>Les présentes conditions générales de vente des
produits/services constituent des clauses contractuelles applicables à tout
achat par tout utilisateur sur le site Web.</p>

<p>Les termes «vous» et «utilisateur» désignent l'utilisateur
final accédant au site Web. Les termes «fournisseurs de services » désignent
les prestataires de services tiers. Les termes autour du pronom personnel
«nous» désignent La marque La Maison du Crochet, ses franchiseurs, ses affiliés
et ses partenaires. Le terme « site » désigne le site de vente La Maison du Crochet.</p>

<h3>Introduction :</h3>

<p>L’utilisation de La Maison du Crochet est soumise à
l'acceptation pleine et sans réserve de toutes les conditions ci-après et de
toutes les conditions affichées sur le site Web.</p>

<p>Toute utilisation des Services aussi bien par l’utilisateur
emporte de plein droit l’application des présentes CGU.</p>

<p>La Maison du Crochet se réserve le droit de supprimer un
utilisateur, considérant qu’il n’a pas respecté les CGU, sans le lui notifier.</p>

<h3>Interprétation des termes :</h3>

<p>Les conditions présentes s'appliquent à la fois au singulier
et au pluriel. Chaque fois que le contexte peut l’exiger, tout pronom doit
inclure le masculin et le féminin correspondant. Les termes «notamment»,
«comprend» et «y compris» est réputée être suivie par l'expression «sans
limitation». Sauf si le contexte ne s'y oppose, les termes «aux présentes»,
«des présentes», «aux présentes», «ci-après et les termes au sens
similaire se référant aux conditions dans son ensemble.</p>

<h3>Divisibilité :</h3>

<p>Si une disposition des conditions est jugée invalide ou
inapplicable en tout ou en partie, cette invalidité ou inapplicabilité ne
s'attache qu'à une disposition ou partie d'une disposition. Toutes les autres
dispositions des présentes Conditions restent valables.</p>

<h3>Utilisation du site Web :</h3>

<p>Lors de la procédure d'inscription au site Web. Vous créez
un mot de passe et un email.</p>

<p>Vous êtes responsable du maintien de la confidentialité de
l’email et du mot de passe, et êtes entièrement responsable de toutes les
activités liées à votre compte.</p>

<p>À cette fin, vous vous engagez à :</p>

<ol>
	<li>
		<p>
			aviser immédiatement La
Maison du Crochet de toute utilisation frauduleuse de votre compte ou de toute
autre violation de sécurité
</p>
</li>

<li>
	<p>
		vous assurez que vous
quittez votre compte à la fin de chaque session d’utilisation.
</p>
</li>
</ol>
<p>Vous acceptez et vous engagez à</p>

<p>Utiliser le site Web uniquement pour afficher et téléchargez
des données appropriées. A titre d'exemple, vous acceptez et vous vous engagez
à ne pas:</p>
<ol>
	<li>
<p>diffamer,abuser,harceler,traquer,menacer ou violer les droits individuels;</p>
</li>
<li><p>
	publier, afficher,
télécharger, distribuer ou disséminer tout sujet inapproprié, vulgaire,
diffamatoire, obscène, indécent ou illégal, nom, élément ou information
personnels;</p>
</li>
<li><p>télécharger des fichiers
qui contiennent des logiciels ou autres éléments protégés par les lois de
propriété intellectuelle, sauf si vous possédez ou contrôlez les droits
afférents ou ayez reçu tous les consentements nécessaires pour cela;</p></li>

<li><p>télécharger ou distribuer
des fichiers qui contiennent des virus, des fichiers corrompus ou tout autre
logiciel ou programme similaire pouvant endommager le fonctionnement du site
Web ou un ordinateur;</p></li>

<li><p>mener des enquêtes ou à
terme, des concours, des programmes effets « boule de neige»,</p></li>

<li><p>télécharger un fichier
publié par un autre utilisateur d'un service que vous savez, ou devriez raisonnablement
savoir, ne peut pas être légalement distribué de cette manière;</p></li>

<li><p>falsifier ou supprimer
toute mention d'auteur, des avis juridiques ou autres appropriés ou des
désignations ou étiquettes exclusives concernant l'origine ou la source d'un
logiciel ou autre matériel contenu dans un fichier qui est téléchargé;</p></li>

<li><p>violer tout code de
conduite ou autres directives, qui peuvent être applicables pour ou à un
service particulier;</p></li>

<li><p>transgresser les lois ou
règlements applicables pour le moment en vigueur dans ou en dehors du Tunisie,
et</p></li>

<li><p>atteinte à aucun des termes
et conditions du présent Accord ou tous autres termes et conditions
d'utilisation du site Web contient par ailleurs ici.</p></li>
</ol>
<p>L'utilisateur accepte et s'engage à ne pas modifier, copier,
distribuer, transmettre, afficher, exécuter, reproduire, publier, donner
licence, créer des œuvres dérivées, transférer ou vendre toute information ou
logiciel obtenu à partir du site Web. La reproduction illimitée ou massive, la
copie du contenu à des fins commerciales ou non commerciales, ou la
modification injustifiée de données et d'informations contenus sur le site Web
n'est pas autorisée.</p>

<h3>Responsabilité de l’utilisateur :</h3>

<p>Les utilisateurs sont seuls responsables de tous les
éléments du contenu téléchargé sur le site Web. La Maison du Crochet ne vérifie
pas, ne cautionne pas et ne se porte pas garant du contenu de l’utilisateur ou
généralement de tout contenu affiché sur le site Web Internet. Les utilisateurs
peuvent être tenus légalement responsables de leurs contenus, en particulier,
lorsqu’ils sont diffamatoires ou protégés par droit d'auteur etc. Si vous
rencontrez un abus ou êtes témoin d’une violation des Conditions, merci de
rapporter ce dernier au Service Client.</p>

<h3>Exactitude des données utilisateur :</h3>

<p>Vous certifiez que vous êtes le propriétaire du contenu que
vous nous soumettez et que le contenu ne porte pas atteinte aux droits de
propriété intellectuelle ou autres droits.</p>

<p>Vous certifiez également que, à votre connaissance, aucune
action, poursuite, procédure, ou enquête n’a été engagée ou menacée à votre
encontre à propos du contenu que vous soumettez, en particulier lorsqu’il
s’agit d’une marque ou d’un nom commercial. Vous vous engagez à fournir des
informations exactes quant à ses coordonnées personnelles ainsi que toute autre
information nécessaire à l'accès aux Services du Site Web et à mettre à jour
régulièrement ces informations si nécessaire, ces informations étant protégées
conformément à la réglementation applicable.</p>

<h3>Exactitude des données affichées :</h3>

<p>La Maison du Crochet ne garantit pas que l'aspect du produit
final commandé par l'utilisateur soit exactement conforme à ses attentes. En
particulier, des modifications de certains aspects de votre commande telle que
la taille ou la couleur des articles peut être nécessaire.</p>

<p>La Maison du Crochet vous prévient des modifications
éventuelles que vous pouvez refuser. Dans ce cas, vous retournerez le produit
si vous l’avez reçu et vous serez remboursés.</p>

<p>Vu que tous nos produits sont artisanaux votre commande peut
prendre deux à trois semaines pour terminer sa confection, vous serais informé
de la date exacte de livraison de votre commande par notre service clientèles.</p>

<h3>Propriété intellectuelle :</h3>

<p><o:p>&nbsp;</o:p></p>
<ol>
	<li>
<p>Sauf indication contraire,
La Maison du Crochet possède, sans limite, tous les droits de propriété
intellectuelle sur le contenu du site Web, tels que le code source, les bases
de données, les textes, les images etc. Vous reconnaissez et acceptez que vous
ne devez pas utiliser, de reproduire ou de distribuer tout contenu du Site Web
appartenant à La Maison du Crochet sans obtenir l'autorisation de La Maison du
Crochet.</p></li>

<li><p>Vous êtes tenu seul
responsable pour tout contenu que vous fournissez ou télécharger depuis le site
Web.</p></li>
</ol>
<h3>Liens avec des tiers :</h3>

<p>Le site Web peut contenir des liens vers d'autres sites
(ci-après désignés « sites liés »). Les sites liés ne sont pas sous le contrôle
de La Maison du Crochet.</p>

<p>La Maison du Crochet n'est pas responsable du contenu des
sites liés, en particulier des changements ou mises à jour du site lié.
La Maison du Crochet n'est pas responsable de
toute forme de sollicitation du site lié. La Maison du Crochet fournit ces
liens pour votre seule commodité, et l'inclusion de tout lien n'implique pas
l'approbation par La Maison du Crochet.</p>

<h3>Résiliation :</h3>

<ol>
<li><p>La Maison du Crochet peut
suspendre ou résilier votre compte ou de tout élément si elle estime que vous
n’avez pas respecté l'une des présentes conditions.</p></li>

<li><p>Si vous ou La Maison du
Crochet met fin à votre compte, La Maison du Crochet peut supprimer tout contenu
ou tout élément relatif à votre utilisation de La Maison du Crochet.</p></li>
</ol>
<h3>Prix et promotions :</h3>

<p>Les prix des produits sont affichés sur La Maison du
Crochet, dans l’unité monétaire du pays d’exploitation. La Maison du Crochet se
réserve le droit de modifier les prix, les produits et les services sans
avertir l’utilisateur.</p>

<ol>

<li><p>Les rabais seront appliqués
sur la valeur totale des marchandises comprenant la TVA. L’émission
ou le rachat d'un bon ou un coupon s'applique sur valeur totale de la commande
une fois toutes les remises promotionnelles appliquées.</p></li>

<li><p>Un seul bon ou coupon peut
être utilisé par commande sauf indication contraire.</p></li>

<li><p>La Maison du Crochet peut
proposer des concours à des périodes différentes et limités. Les conditions de
ces concours seront disponibles pour l’utilisateur sur le site.</p></li>
</ol>
<h3>Responsabilité de La Maison du Crochet :</h3>

<p>La Maison du Crochet s'est efforcée de faire en sorte que
toutes les informations sur le site Web soient correctes, mais La Maison du
Crochet ne garantit la qualité, l'exactitude ou l'exhaustivité des données,
informations, produits ou services. En aucun cas, La Maison du Crochet ne sera
tenu responsable;</p>
<ol>
	<li>
<p>des dommages directs,indirects,consécutifs
ou résultant de l'utilisation ou l'impossibilité d'utiliser les services;</p></li>

<li><p>de l'altération des
transmissions des données (par exemple lorsque l’utilisateur voit s’afficher
sur le site la mention 404, 501 etc.)</p></li>
</ol>
<h3>Droit applicable :</h3>

<p>Ces conditions sont régies en conformité avec les lois du
pays d’exploitation de La Maison du Crochet.</p>

<h3>Modification :</h3>

<p>Cette politique de confidentialité peut changer à tout
moment à inclure / exclure des clauses personne l'utilisateur final accédant au
site Web.</p>

<p>La protection des données de votre vie privée est un
principe important pour nous. Nous recueillons des renseignements à des fins
nécessaires à la bonne utilisation du site Web.</p>

<p>En soumettant des données à La Maison du Crochet, vous
consentez à notre utilisation de vos données de la manière prévue dans la
présente politique de confidentialité.</p>

<p>Vous pouvez visiter et naviguer sur certaines pages de La
Maison du Crochet sans avoir à fournir de renseignements personnels.</p>

<h3>Récupération des données utilisateur :</h3>

<p>Nous pouvons collecter des informations de nature diverses.
Nous avons besoin de ces informations, notamment afin de permettre la commande
d’un produit, le paiement et la livraison.</p>

<p>Nous collectons, stockons et traitons vos données pour
permettre la bonne utilisation du site Web. Nous pouvons recueillir des
informations sur le formulaire d’inscription tel que votre nom, sexe, adresse
Email, adresse postale, adresse de livraison (si différente, numéro de
téléphone mobile, détails de paiement.</p>

<h3>Utilisation des données utilisateur :</h3>

<p>Nous stockons et traitons vos informations sur des serveurs
protégés par des dispositifs technologiques et humains de sécurité. Nous
demandons à des tiers de vérifier et certifier nos principes de
confidentialité.</p>

<p>Nous pouvons transmettre vos coordonnées à un tiers afin
d'effectuer la livraison de la commande. Nous pouvons également utiliser vos
données afin de détecter d'éventuels abus ou de fraude, vous envoyer des
informations sur le site Web ou nos produits.</p>

<p>Nous ne partagerons aucune de vos informations personnelles
avec des tiers sans votre consentement explicite. De la même manière, nous ne
vendons ni ne louons vos informations personnelles à des tiers pour des fins de
marketing sans votre consentement explicite.</p>

<p>Si vous préférez ne recevoir aucune des informations
supplémentaires détaillées dans le présent paragraphe (ou toute partie de
celui-ci) cliquez s'il vous plaît sur le lien &quot;désinscription&quot; dans
n'importe quel Email que nous vous enverrons</p>

<h3>Exactitude des données utilisateur :</h3>

<p>Vous vous engagez à fournir des informations exactes quant à
ses coordonnées personnelles ainsi que toute autre information nécessaire à
l'accès aux Services du Site Web et à mettre à jour régulièrement ces
informations si nécessaire, ces informations étant protégées conformément à la
réglementation applicable.</p>

<p>Vous certifiez que vous êtes le propriétaire du contenu que
vous nous soumettez et que le contenu ne porte pas atteinte aux droits de
propriété intellectuelle ou autres droits. Vous certifiez également que, à
votre connaissance, aucune action, poursuite, procédure, ou enquête n’a été engagée
ou menacée à votre encontre à propos du contenu que vous soumettez, en
particulier lorsqu’il s’agit d’une marque ou d’un nom commercial.</p>

<h3>Sécurité :</h3>

<p>Nous avons mis en place des mesures techniques appropriées
de sécurité pour empêcher l'accès non autorisé ou illégal à vos informations.
Lorsque nous recueillons des données à travers le site Web, nous recueillons
vos données personnelles sur un serveur sécurisé. Nous utilisons des pare-feu
sur nos serveurs. Lorsque nous recueillons des informations de cartes de
paiement électronique, nous utilisons le cryptage en utilisant la technologie
Secure Socket Layer (SSL) de codage. Il est fortement recommandé de ne pas
envoyer tous les détails de carte de crédit ou de débit dans les communications
électroniques non cryptés avec nous. Mais vous êtes responsable de la
protection contre l'accès non autorisé à votre mot de passe et à votre
ordinateur.</p>

<h3>Cookies :</h3>

<p>L'acceptation des cookies est nécessaire pour visiter le
site Web. Nous voudrions souligner que pour assurer la bonne utilisation du
site Web les cookies sont nécessaires. Les cookies sont des fichiers texte qui
servent à identifier votre ordinateur lorsque vous visitez certaines pages sur
le site Web et ils sont stockés par votre navigateur Internet sur le disque dur
de votre ordinateur. Les cookies peuvent être utilisés pour reconnaître votre
adresse de protocole Internet, vous permet d'économiser du temps lorsque vous
revenez sur le site Web. Votre navigateur peut être configuré pour ne pas
accepter les cookies, mais cela peut restreindre votre utilisation de La Maison
du Crochet. Si vous voulez en savoir plus d'informations sur les cookies,
rendez-vous à http://www.allaboutcookies.org.</p>

<h3>Accès aux données utilisateur :</h3>

<p>Vous pouvez accéder à vos principales données en vous
connectant à votre compte sur le site Web. Vous pouvez voir les détails de vos
commandes et toutes les Newsletter à laquelle vous pouvez avoir souscrit.</p>

<h3>Modification :</h3>

<p>Cette politique de confidentialité peut changer à tout
moment par exemples en incluant ou excluant des clauses.</p>
</div>